*{
    margin: 0;
    padding: 0%;
    
}
body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: #bccddf;
}
.container{
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    height: 50vh;
    width: 50vh;

}
form{
    margin: 2rem 0 1rem 0;

}
form, select, input,button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.50rem;

}
form input
{
    border: 1px solid lightgray;
    font-size: 1rem;
    min-height: 3rem;
    padding-left: 0.5rem;

}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.8rem;

}
.dropdown i{
    font-size: 2rem;
    margin-top: 1rem;

}
.select-container img{
    max-width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color: 1px solid lightgray;
}
.select-container select{
    font-size: 1rem;
    width: auto;
    background-color: rgba(120, 149, 175,0.5);

}
.msg{
    margin: 2rem 0 2rem 0;

}
button{
    height: 2.4rem;
 background-color: rgb(120, 149, 175);
 font-size: 1rem;
 cursor: pointer;
}